# Django secret key
SECRET_KEY=

# Postgres settings
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

# VK Authentication settings
VK_AUTH_ID=
VK_AUTH_SECRET=

# email-hosting's settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=