asgiref==3.7.2
attrs==23.1.0
build==0.10.0
CacheControl==0.13.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
cleo==2.0.1
crashtest==0.4.1
cryptography==41.0.4
defusedxml==0.8.0rc2
Deprecated==1.2.14
distlib==0.3.7
Django==4.2.6
django-braces==1.15.0
django-oauth-toolkit==2.3.0
django-rest-framework-social-oauth2 @ git+https://github.com/islam-kamel/django-rest-framework-social-oauth2@658ba5af510857daa9dc82262521ce32f28b07b4
djangorestframework==3.14.0
dulwich==0.21.6
ecdsa==0.18.0
filelock==3.12.2
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
jsonschema==4.17.3
jwcrypto==1.5.0
keyring==24.2.0
more-itertools==10.1.0
msgpack==1.0.7
oauthlib==3.2.2
packaging==23.2
pexpect==4.8.0
pipenv==2023.10.20
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyasn1==0.5.0
pycparser==2.21
PyJWT==2.8.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dotenv==1.0.0
python-jose==3.3.0
python3-openid==3.2.0
pytz==2023.3.post1
rapidfuzz==2.15.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.9
SecretStorage==3.3.3
shellingham==1.5.3
six==1.16.0
social-auth-app-django==5.4.0
social-auth-core==4.4.2
sqlparse==0.4.4
tomlkit==0.12.1
trove-classifiers==2023.9.19
urllib3==2.0.6
virtualenv==20.24.5
wrapt==1.15.0
zipp==3.17.0
